::-webkit-scrollbar {
  display: none;
}
*{margin:0;padding:0;}
html { overflow: hidden; }

body {
  background-color:#fefefe;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  font-size:12px;
}

h4 {
  font-weight: 600;
}


.section-wrapper {
  display: table;
  
}
.section-wrapper > div {
  display: table-cell;
  vertical-align: top;
}


.sidenote-section,
.sidenote-section .section-body {
  width: 300px;
}


/* scroll issue fixed css */
.sidenote-section,
.sidenote-section .section-body  {
    position: fixed;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    left: 0;
}

/* ************************ */

.section-header {
  background-color: #353866;
  border-right: 1px solid #000;
  text-align: right;
  padding: 10px  5px;
}



.section-body {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: rgb(248, 250, 255);
  overflow-y: auto;
}

/*panel*/
.panel{background-color:#fff;}
.panel-close-btn{display: inline-block;color: #fff;}
.panel-close-btn:hover{color:#666;}
.panel-wrapper{padding:15px;}
.collapse.in {display: block;}
/* .panel-collapse {display:flex;} */
.panel-title {
  /* float:left; */
  /* width:250px; */
  height:22px;
  /* padding-right: 50px; */
  font-size:16px;
  font-weight: 600;
}
.panel-title > a.heading-btn {
  display: block;
  /* padding: 10px 15px; */
}

#panel-setting-btn {
  float: right;
  cursor: pointer;
}
#panel-setting-btn:hover{ color:#666; }

.panel-heading{
  box-sizing: border-box;
  width:100%;
  padding: 10px 15px;
  color:#353866;
  background-color: #fefefe;
  border-color:#ddd;
}

.panel-heading::after{clear:both;content:'';display:block;}
.panel-heading-btn{
  position: relative;
  cursor: pointer;
  padding:10px 15px;
  /* display: table-cell; */
  width:100%;
  box-sizing: border-box;
  height: 42px;
  background-color:#efefef;
  color:#666;
  border:1px solid #ddd;
}
i{vertical-align: middle;font-size:20px;}
.panel-btns > i:hover {
  color: #333;
}
.panel-btns{
  box-sizing:border-box;
  width:100%;color:#666; transition:all 0.25s;padding:15px;display: table;}
  /* margin-bottom:10px; */

  div.btn{display: table-cell;}

div.plus-btn{width:20px;cursor:pointer;}
div.btn > i:hover{color:#333;}

.panel-collapse {
  padding-bottom: 30px;
}

.panel-bottom {
  position: fixed;
  width: 30px;
  bottom: 0;
  right: 0;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1500;
}

.collapse.in{border-bottom:1px solid #ddd;width: 100%;}
.panel-default>.panel-heading+.panel-collapse>.panel-wrapper{
  border-top-color:#ddd;
}
.edit-btns {
  margin-top: 5px;
  text-align: right;
}

.edit-btns button {
  border-radius: 0;
}

.note-item-wrapper {
  padding: 15px;
  /* display: table; */
  /* width: 100%; */
  box-sizing: border-box;
}

/*panel-body noteItem*/
.noteItem > .timestamp {
  font-size:12px;
  text-align: left;
  /*margin-bottom: -20px;*/
  color: #999;
  transition: all 0.25s;
  /* opacity: 0; */
  z-index: 100;
}

.urlPage-title-input {
  width: 100%;
  margin: 0;
  border: 1px dashed #ccc;
  outline: none;
  resize: none;
}

.urlPage-title {
  border: 1px dashed transparent;
  cursor: text;
  word-break: break-all;
}
.urlPage-title:hover {
  border-color: #ccc;
}

textarea{box-sizing: border-box;}
textarea.comment-content  {
  width: 100%;
  border: 1px dashed #999999;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  color: #333333;

  cursor: text;
}

.input-group{
  position: relative;
  display: table;
  border-collapse:separate ;

}


.input-group-sm>.form-control{
  /* height:30px; */
  padding:5px 10px;
  font-size:12px;
  line-height:1.5;

}

.input-group .form-control{
  position: relative;
  z-index: 2;
  float: left;
  width:100%;
  margin-bottom: 0;
  display: table-cell;
}

input.keyword-input {
  transition: all 0.25s;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  border: 1px solid #999999;
  background: none;
}

input.keyword-input:focus {
  border-color: #666666;
}
.title-name{margin:5px 0;}


.edit-btns button{margin-right: 3px;border-radius: 0;}
.btn-defalt{color:#353866;border-color:#353866;}
.edit-btns .btn{display: inline-block;padding:6px 12px; text-align: center;cursor: pointer;}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{color:#333;background-color:#fefefe;border-color:#fefefe;}
.btn.active, .btn:active{outline: none;}
.btn-default:hover{color:#333;border-color:#353866;background-color: #fefefe;}

button.save-btn{background-color: #353866;color:#fefefe;border-color: #353866;}
button.save-btn:hover{color:#353866;background-color:#fefefe;border-color:#353866;}

.show{display:block;}
.hide{display:none;}


/*note-item*/
.note-item{padding-bottom:15px; /*//* display: table; *//* width: 100%; */}
.note-item .title-name{font-size:12px; color:#666;}

.urlPage-title-input{font-size:16px;line-height:1.5;}
.del-btn{width:20px;height:20px;text-align: center;}
.panel-collapse-body{/* display: table-cell; */padding:10px 15px;border:1px solid #ddd;}


/*tag-list*/
.tag-list{margin-top:5px;}
.tag-list .tag{
  padding:3px 10px;
  background-color:#353866;color:#ddd;
  border-radius: 30px;
  display:inline-block;
  margin-top:5px;
  margin-left:5px;  
}

.tag-list .tag i{font-size:12px;}
/* .tag-list .tag::after{content: "\e921";} */



.panel-heading-btns {
  position: absolute;
  right: 15px;
  top: 10px;
  display: table;
}
.panel-heading-btns > .btn {
  margin-left: 9px;
  display: inline-table;
  vertical-align: middle;
}
.edit-btn.btn:hover {
  text-decoration: underline;
}
.delete-btn.btn:hover {
  color: red;
}

.title-name.timestamp {
  font-size: 8px;
  color: #999;
}
.title-name.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
  text-decoration: underline;
}
.title-name.memo {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.setting-panel {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 80px;
  border-top: 1px solid #ddd;
  transition: all 0.25s;
}
.setting-panel.hide-in {
  bottom: -85px;
}

.apps-input {
  padding: 10px;
  background-color:#fff;
}

.setting-panel input {
  width: 100%;
  margin: 5px 0;
}

.setting-panel button {
  display: block;
  padding: 3px 5px;
  cursor: pointer;
}


/*
.notifications {
  position: fixed;
  z-index: 2000;
}
*/

.collapse-body{position: relative;}
.panel-bottom{padding:10px;position:absolute;right:0;bottom:40px;}