/* @CHARSET "UTF-8"; */
#kt-annotator-panel {
    position: fixed;
    top: 0; right: 0;
    width: 900px; height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    background-color: #ecf0f1;
    box-shadow: 0 0 52px -11px;
    transition: all 0.5s;
    z-index: 2147483647; /* max z-index */
}
#kt-annotator-panel.kt-annotator-collapse { right: -600px; }
#kt-annotator-panel.kt-annotator-hide { right: -900px !important; }
